@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

:root {
    --bg-color: #f5f5f5; // $gray-200
    --text-color: #6c757d; // $gray-700
    --accent-color: #ffd333; // $yellow-400
    --contrast-color: #3d464d; // $gray-700
    --gray-color: #ccc;
}

html, body {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: $gray-200;
    color: $gray-700;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1 1 auto;
}

a {
    color: $gray-700;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}


@import 'blocks/btn';
@import 'blocks/form';
@import 'blocks/header';
@import 'blocks/carousel';
@import 'blocks/advantages';
@import 'blocks/product_card';


@import 'blocks/media';