section {
    padding: 50px 0;
}

.section {
    &-title {
        position: relative;
        color: $gray-700;
        text-transform: uppercase;
        font-weight: 700;
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            top: 50%;
            left: 0;
            border-top: 1px dashed;
            z-index: 0;
            border-top: 1px dashed $gray-700;
        }
        & span {
            padding-right: 1rem;
            background-color: $gray-200;
            position: relative;
            z-index: 1;
        }
    }
}

.advantages {
    & .item {
        background-color: $white;
        text-align: center;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: all .3s;
        &:hover {
            box-shadow: 0 15px 30px -20px rgba(0, 0, 0, .5);
        }
    }
    & i {
        font-size: 4.375rem;
        color: $yellow-400;
    }
}