@media (min-width: 992px) {
	.header-bottom {
		& .navbar {
			& .dropdown-menu-end {
				margin-left: 0;
				border: 0;
			}
			& .nav-link {
				padding: 1rem;
			}
		}
	}
}

@media (max-width: 991px) {
	.header-bottom {
		& .navbar {
			& .dropdown-menu {
				padding-left: 1rem;
			}
		}
	}
}

@media (max-width: 380px) {
	.header-top-phone {
		a {
			font-size: 13px;
		}
	}
	.header-top {
		.btn {
			font-size: 13px;
		}
	}
}
